<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>
    <h1 class="title-main">TAI Retro</h1>
    <div class="kanban">

      <div class="column">
        <h2>J'ai aimé</h2>
        <div class="new-task">
          <input type="text" id="newLabel" placeholder="Nom de la tâche" autocomplete="off">
          <button onclick="createNewLabel()">Créer</button>
        </div>
        <div id="todo" ondrop="handleDrop(event)">
            <div class="todo label">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, ipsam!</div>
            <div class="todo label">Task 2</div>
        </div>
      </div>

      <div class="column">
        <h2>Bof Bof</h2>
        <div id="in-progress">
            <!-- Drop Zone for In Progress -->
        </div>
      </div>

      <div class="column">
        <h2>J'ai pas aimé</h2>
        <div id="done">
            <!-- Drop Zone for Done -->
        </div>
      </div>

    </div>

    <script src="/js/main.js"></script>
</body>
</html>