<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('partials/head') %>
</head>
<body>
  <form action="/login/email" method="POST" class="form__email form">
    <div class="container__email">
      <label class="form__label" for="email">
        <input class="form__input" name="email" id="email" type="text" placeholder="email">
      </label>
    </div>
  
    <div>
      <button class="form__button">se connecter</button>
    </div>
  </form>
  
</body>
</html>
