<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <form action="/login/password" method="POST" class="form__password form">
    <div class="container__email">
      <label class="form__label" for="email">
        <input class="form__input" id="email" name="email" type="text" value="<%= locals.email %>" placeholder="email">
      </label>
    </div>
  
    <div class="container__password">
      <label class="form__label" for="password">
        <input class="form__input" id="password" name="password" type="text" placeholder="password">
      </label>
    </div>
    
    <p class="error-password"><strong><%= locals.error ? locals.error : "" %></strong></p>
    
    <div>
      <button class="form__button">se connecter</button>
    </div>
  </form>
</body>
</html>