<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kanban anonymous</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="kanban">

      <div class="column">
        <h2>J'ai aimé</h2>
        <div class="new-task">
          <input type="text" id="newLabel" placeholder="Nom de la tâche" autocomplete="off">
          <button onclick="createNewLabel()">Créer</button>
        </div>
        <div id="todo">
            <div class="label">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, ipsam!</div>
            <div class="label">Task 2</div>
        </div>
      </div>

      <div class="column">
        <h2>Bof Bof</h2>
        <div id="in-progress">
            <!-- Drop Zone for In Progress -->
        </div>
      </div>

      <div class="column">
        <h2>J'ai pas aimé</h2>
        <div id="done">
            <!-- Drop Zone for Done -->
        </div>
      </div>

    </div>

    <script src="/js/main.js"></script>
</body>
</html>